@import "~bulma";
@import "~bulma/sass/utilities/variables";
@import '../assets/varriable.scss';
@import url('https://www.fontify.me/wf/e52f0c651bb8316c49369f533e387f97');

.hero {
  background-color: $background-blue;
  text-align: center;
  font-family: font119290;
}

.title {
  color: $white
}

.subtitle {
  color: $yellow
}